:root {
  --color-main: #fff;
  --color-secondary: #a4a4a4;
  --color-accent: #f09530;
  --background-main: #242424;
  --background-secondary: #191919;

  font-family: "Roboto", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color-main);
  background-color: var(--background-secondary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-main: #212121;
    --color-secondary: #696969;
    --background-main: #fff;
    --background-secondary: #e4e4e4;
  }
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
